body {
  background-color: #1f242d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  padding: 20px;
  background-color: rgb(49, 51, 51);
  border-radius: 10px;
}

.display {
  margin: 32px;
}
.display span {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  font-size: 30px;
  color: #fff;
  background: transparent;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  justify-content: center;
}

.buttons :last-child {
  grid-column: 3/5;
}

button {
  border: none;
}

.operator-button {
  background-color: rgba(0, 238, 255, 0.707);
  color: #fff;
}
button {
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.number-button {
  background: transparent;
  color: #0ef;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
